.wrong, .red {
	background-color: red;
}

.badge, .yellow {
	background-color: yellow;
}

.orange {
	background-color: orange;
}

.green {
	background-color: green;
}

.skyblue {
	background-color: #57b7ff;
}

.lightblue {
	background-color: #addcff;
}

.text-red {
	color: red;
}

.text-white {
	color: white;
}

.text-green {
	color: lightgreen;
}

.hidden {
	display: none;
}